body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header {
  height: 68px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  /*background-color: black;*/
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 5px 10px;
}

header nav {
  padding-right: 5px;
}

.flex {
  display: flex;
  top: 70px;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");

  width: 1200px;
  height: 700px;
  align-items: center;

}

.banner {
  background-color: black;

  width: 1200px;
  height: 100px;
}

.banner h2, .banner h4 {
  margin: 10px auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;

}

#featured {
  width: 1000px;
}

#featured .flex {
  flex-direction: column;

}

.totm {
  width: 300px;
}

.totm img {
  height: 200px;
  margin: 10px auto;
}

.totm h4 {
  margin: 0px auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  justify-content: center;
}
.row2 .totm {
  margin: 0px 15px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-top: 75px;
}

#locations h2 {
  margin: 50px auto 15px auto;
}

#locations .flex {
  justify-content: center;
}


.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px;
}

.contact {
  height: 200px;

}

.contact h2 {
  margin: 10px auto 41px auto;
}

footer {
  text-align: left;
  width: 100%;
}

footer h5 {
  margin-left: 20px;
}
