body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 5px 10px;
}

header nav {
  padding-right: 5px;
}
