body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;

  text-align: center;
  margin: 0;
}

header {
  height: 68px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 5px 10px;
}

header nav {
  padding-right: 5px;
}

.flex {
  display: flex;
  top: 70px;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center;
}

.banner {
  background-color: black;
  width: 1200px;
  height: 100px;
}

.banner h2, .banner h4 {
  margin: 10px auto;
}

.main {
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  ^^ It works. The webpage looks like the redline, but doesn't behave like the demo when the browser is resized. So let's try...*/
  width: 1200px;
  margin: auto;
  padding-top: 70px;
  opacity: 0.9; /* I put this in <body> at first because of where it was called out on the redline. But the header looked funny just barely sheer, so I moved it here.*/

}

#featured {
  width: 1000px;
  padding-top: 70px;
  margin: auto;
}

#featured .flex {
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: center;
}

#featured h2, #featured h4 {
  margin: 0;
  padding: 10px;
}

.totm {
  padding: 5px;

}

.totm img {
  height: 200px;
  margin: 10px;/* Why is this margin being ignored??*/

}

.totm h4 {
  margin: 0px auto;
  padding: 5px;
}

/* I left this section here as a reminder to myself; Don't do it this way. There's a better way. There's an easier way.

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  justify-content: center;
}

.row2 .totm {
  margin: 0px 15px;
}
*/

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  margin-top: 70px;
}

#locations h2 {
  margin: 0;
  padding: 15px;
}

#locations .flex {
  justify-content: center;
}


.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px;
}

.contact {
  height: 200px;
}

.contact h2 {
  margin: 10px auto 41px auto;
}

footer {
  text-align: left;
  width: 100%;
}

footer h5 {
  margin-left: 20px;
}
